{% extends 'layout.html' %}

{% block title %} 
    {{ super() }}About
{% endblock %}

{% set active_page = "main.about" %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='./css/about.css')}}">
{% endblock  %}

{%  block content  %}
<div class="jumbotron">
    <div class="container text-center">
      <h1><b>ABOUT ME</b></h1> 
      <p>"The future depends on what you do today" - Ghandi</p>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-5">
        <h3 class="text-center">Benjamin Newman</h3>
        <hr>
        <img src="{{url_for('static', filename='./images/Screenshot_20210122-114434_Instagram.jpg')}}" class="img-responsive" style="width:100%" alt="Avatar">
        <br>
        <br>
        <ul style="list-style: none; padding-left:0%;" class="text-center">
          <li>Art enthusiast</li>
          <li>Above-average chef</li>
          <li>Baseball fanatic</li>
          <li>Health nut</li>
        </ul>
        <br>
      </div>
      <div class="col-sm-6">
        <div id="aboutme" class="row justify-content-center">
        <p>Yes, I'm a <b>Data Analyst</b>, but stopping there would be some poor story-telling, and that's half the job isn't it? You already know what I do, so let me tell you a little bit about who I am.</p>
        <p>I grew up near Boston, went to school in Seattle, and now reside in the heart New York City. I'm a nerd, facinated by the human body, and aware of the nutritional value of everything you put into it. I love statistics, and that's probably why baseball-reference.com is the homepage on my web browser.</p>
        <p>Ultimatley my passion is to explore and experience. Whether its a new skill I want to learn (cooking, guitar, painting), or a city and people I know nothing about. This passion brought me to the field of data. A field whose purpose is to be explored and to expose us to the little details and patterns of the world we couldn't otherwise see.</p>
      </div>
    </div> 
    <hr> 
  </div>

{%  endblock  %}