<style>
    footer {
        margin-top: 25px;
    }
    .fa {
        font-size: 20px;
        text-align: center;  
    }    
    .fa-linkedin {    
        color: white;
    }  
    .fa-github {    
        color: white;
        margin-right: 30px;
      }
    .fa-angellist {    
        color: white;
        margin-left: 30px;
      }
</style>

<footer class="container-fluid py-4 bg-info">
    <div class="container text-center">
            <a class="fa fa-github" href="https://github.com/btnewman7"></a>
            <a class="fa fa-linkedin" href="https://www.linkedin.com/in/bennewm/"></a>
            <a class="fa fa-angellist" href="https://angel.co/u/benjamin-newman-3"></a>
            <hr/>
      <p class="m-0 text-center text-white">Copyright &copy; 2020 | Benjamin T. Newman</p>
    </div>
    <!-- /.container -->
</footer>