<style>
    .fa {
        font-size: 20px;
        margin: 0px 10px;
        text-align: center;  
    }    
    .fa-linkedin {    
        color: white;
    }  
    .fa-github {    
        color: white;
        margin-right: 5px;
      }
</style>

<footer class="py-4 bg-info fixed-bottom">
    <div class="container text-center">
            <a class="fa fa-github" href="https://github.com/btnewman7"></a>
            <a class="fa fa-linkedin" href="https://www.linkedin.com/in/bennewm/"></a>
            <hr/>
      <p class="m-0 text-center text-white">Copyright &copy; Benjamin T. Newman 2020</p>
    </div>
    <!-- /.container -->
</footer>